
* {
	box-sizing: border-box;
}

:root {
    --primary-color:#E9EAEC;
    --box-primary-color: #FAD02C;
    --box-secondary-color: #90ADC6;
    --color-primary-color:#333652;
    --color-secondary-color: white;
    --box-shade-primary-color: #4b7183;
}

body {
    background-color: var(--primary-color);
    color: var(--color-primary-color) ;
}

.dark-theme{
    --primary-color: #19171d;
    --box-primary-color: #2c649e;
    --box-secondary-color: #bd3755;
    --color-primary-color:#e7e7e7;
    --box-shade-primary-color: #59606a;
    
}

#icon {
    width: 30px;
    cursor: pointer;
}


#aboutme {
    background-color: var(--box-primary-color);
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    border: solid #ccc 1px;
    border-radius: 10px;
    margin: 50px 0 50px 50px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.project {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-modals {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    border: solid #ccc 1px;
    border-radius: 10px;
    margin: 50px 0 50px 50px;
    background-color: var(--box-secondary-color);
    justify-content: space-around;
}

.modal-dialog{
    background-color: #FAD02C;
}
h2 {
    text-align: center;
}

h4 {
    margin-top: 10px;
}
a > img {
    border-radius: 10px;
    box-shadow: 10px 10px 5px var(--box-shade-primary-color);
}
a > img:hover {
    cursor: pointer;
}
.skill-icons {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    border: solid #ccc 1px;
    border-radius: 10px;
    margin: 50px 0 50px 50px;
    background-color: var(--box-primary-color);
}
.skill-icons > img {
    margin: 10px 30px;
    max-width: 100px
}
.contact {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    border: solid #ccc 1px;
    border-radius: 10px;
    margin: 50px 0 0 50px;
    background-color: var(--box-secondary-color);
    justify-content: center;
}
.contact-icons{
    max-width: 40px;
    margin: 0 20px;
}